<h1>Productivity Planner</h1>

<p>Organize & Plan Your Projects all<br>
  In One Place AND Link <br>
  To Your Google Calendar!
 </p>

 <ul>
  <% @users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>
