<div class="center jumbotron">
  <h1>Welcome to Your Productivity Planner</h1>

  <h4>
    Organize & Plan Your Projects<br>
    All In One Place AND...<br>
    Link To Your Google Calendar
  </h4>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
