<div class="center jumbotron">
  <h2>Welcome to Your Productivity Planner</h2>

  <h3>
    Organize & Plan Your Projects<br>
    All In One Place AND...<br>
    Link To Your Google Calendar
  </h3>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
