<div class="center jumbotron text-center">
  <div class="bg-info">
  <h1>Welcome to Your Productivity Planner</h1>

  <h4>
    Organize & Plan Your Projects<br>
    All In One Place AND...<br>
    Link To Your Google Calendar
  </h4>

  <img class="img-responsive" src="http://orderinthehouse.com/wp-content/uploads/2015/05/ToDoList.jpg" alt="To Do List" width="460" height="345">

  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary round" %>
  </div>
</div>
