<h1 class="project_title">Edit Project Activities</h1>

<div class="forms">
  <%= render 'form' %>
</div>

<div class="links">
  <%= link_to 'Back', projects_path %> |
  <%= link_to 'Update', project_task_path %>
</div>
