<h1>List of My Projects</h1>
<% @projects.each do |project| %>

   <ul>
      <li>
         <th>Project Title</th>: <td><%= link_to project.title, project_path(project.id) %>
      </li>
   </ul>

<% end %>
<div class="container">
  <button type="button" class="btn btn-info">
  <%= link_to "Back to home", new_project_path %>
  </button>
</div>
