<div class="container">
  <table class = "table">
      <thead>
       <tr>
          <th>Project</th>
          <th>Title</th>
       </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, project_path(project.id) %></td>
      </tr>
    </tbody>
  <% end %>
  </table>
<div class="container">
  <button type="button" class="btn btn-info">
  <%= link_to "Back to home", new_project_path %>
  </button>
</div>
</div>
