<h1 class="project_title">New Project</h1>

<div class="forms">
  <%= render 'form' %>
</div>

<div class="links">
  <%= link_to 'Back', projects_path %>
</div>

<div class="links">
  <%= link_to "New Project", new_project_path %>
</div>
