/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-size: 16px;
  background-color: #10D1EF;
}

.jumbotron {
  h1 {
    font-size: 2em;
    padding: 10px;
  }
  h4 {
    font-size: 1.2em;
    padding: 5px;
  }
  background-color: #4617CA;
}

.bottomaligned {
  position:absolute; bottom:0;  margin-bottom:7px; left: 0;
}
.bottomright {
  position:absolute; bottom:0;  margin-bottom:7px; margin:7px; right: 0;
}
.bottomleft {
  position:absolute; bottom:0;  margin-bottom:7px; left: 100px;
}
.fixedheight {
  height: 200px;  width: 243px;  position:relative; border:1px solid;
}

.navbar-default {
    background-color: #4617CA;
    border-color: #10D1EF;
    border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #f2f756;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #f2f756;
}

.navbar-default .navbar-text {
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border-color: #230A69;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #230A69;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.img-responsive {
  margin: 0 auto;
  padding: 10px;
}
