<header>
  <div >
    <nav class="navbar navbar-default">

    <%= link_to "MPP", '#', id: "logo" %>

      <ul class="nav navbar-nav navbar-right">
        <li class="li_color"><%= link_to "Home", root_path %></li>
        <li class="li_color"><%= link_to "Projects", projects_path %></li>
        <li class="li_color"><%= link_to "Log in", login_path %></li>
      </ul>
    </nav>
  </div>
</header>
