<header>
  <div >
    <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
      
    <%= link_to "MPP", '#', id: "logo" %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "Log in", login_path %></li>
      </ul>
    </nav>
  </div>
</header>
