<!DOCTYPE html>
<html>
<head>
  <title>Ruby App</title>
</head>
<body>
  <header>
    <h1>Productivity Planner</h1>
    <ul>
      <li>Profile</li>
      <li>Projects</li>
      <li>Calendar</li>
      <li>Logout</li>
    </ul>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <ul>
      <li>About us</li>
      <li>Team</li>
      <li>Terms and conditions</li>
    </ul>
  </footer>
</body>
</html>
